# Core Libraries
python-dotenv
pydantic
openai
google-genai
rich  # For pretty logging
redis

# API Framework
fastapi
uvicorn[standard]
sqlalchemy
pyjwt[crypto]
httpx
python-multipart

# Tooling
tavily-python
clerk-backend-api
